/*MENU aplicando nesting o anidacion con &*/
.logo {
    position: absolute;
    top: 3.5%;
    transform: translateY(-50%);
    left: 20px;
  }
  .menu2{
    background-color:$colorprimario;
    opacity: .6;
    ul {
      display: flex;
      list-style: none;
      li {
        font-size: 1rem;
        margin: 0px 30px 0px 0px;
        a{
          color: black;
          &:hover{
            color: red;
          }
        }
      }
    }
  }
  
  /*MENU-HOVER*/
.menu {
  height: 60px;
  margin: 0 auto;
  position: relative;
  margin-top: 5px;
}

.nav_link {
  display: flex;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav_link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 50%;
  height: 2px;
  background: $colorhover;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 50%;
  height: 2px;
  background: $colorhover;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_link:hover {
  color: $colorhover;
}

.nav_link:hover::before {
  right: 0;
}

.nav_link:hover::after {
  left: 0;
}