* {
    margin: 0;
    padding: 0;
  }
/*COLORES*/  
  $colorprimario:#80DEEA;
  $colordegrade: linear-gradient(180deg, rgb(194, 245, 255) 0%, rgb(255, 255, 255) 74%);
  $colorhover: rgb(56, 56, 197);